.nav {
    padding-top: 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    .logo {
        font-size: 25px;
        padding-right: 20px;
        color: #0169d8 !important;
    }
}



