
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.login-form {
    font-family: "Roboto Condensed", sans-serif;
    width: 60%;
    margin-left: 20%;
    margin-top: 130px;
    margin-bottom: 164px;
    align-content: center;
    legend {
        font-size: 30px;
    }
}
